body {
    background-color: blanchedalmond;
    font-family: 'Tilt Neon', cursive;
    color: #171717;
    font-size: calc((5vh/2 + 2vw/2)/2);
    line-height: 1.5em;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.main__title {
    font-size: 3em;
    line-height: 1.5em;
}

.main__ul-mem-ico-path {
    fill: blanchedalmond;
}

.main__ul-mem-ico-img {
    margin: 15px auto 0;
    border: 2px solid #171717;
    border-radius: 5px;
    transform: scale(0);
    transform-origin: top;
    height: 0;
}

.main__ul-memes:hover .main__ul-mem-ico-path { 
    fill: #171717;
    transition: all 0.5s;
}

.main__ul-mem-input {
    appearance: none;
    position: absolute;
}

.main__ul-mem-lable-box {
    display: flex;
    justify-content: space-between;
    
}

.main__ul-mem-lable {
    width: 100%;
    display: block;
    cursor: pointer;
}

.main__ul-mem-item:hover .main__ul-mem-ico-img {
    opacity: 1;
    transform: scale(1);
    height: 30vh;
    max-width: 90vw;
    transition: 0.6s;
}

.main__ul-mem-item:not(hover) .main__ul-mem-ico-img {
    transition: 0.6s;
}

.main__ul-mem-item:hover .main__ul-mem-ico { 
    transform: rotateZ(45deg);
    transition: all 0.5s;
}

.main__ul-mem-item:not(hover) .main__ul-mem-ico { 
    transition: all 0.5s;
}

.main__ul-mem-input:checked ~ .main__ul-mem-lable .main__ul-mem-ico-img{
    opacity: 1;
    transform: scale(1);
    height: 30vh;
    transition: 0.6s;
}

.main__ul-mem-input:checked ~.main__ul-mem-lable .main__ul-mem-ico {
    transition: all 0.5s;
    transform: rotateZ(45deg);
}

.main__ul-mem-input:checked ~ .main__ul-mem-lable .main__ul-mem-ico .main__ul-mem-ico-path { 
    transition: all 0.5s;
}

.main__ul-mem-input:not(checked) ~ .main__ul-mem-lable .main__ul-mem-ico-img {
    transition: all 0.5s;
}
